Bantu/Service References/Notification/NotificationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NotificationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://bantuservices.cloudapp.net:8080/NotificationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://bantuservices.cloudapp.net:8080/NotificationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationService_RegisterEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterEndpoint" />
  </wsdl:message>
  <wsdl:message name="INotificationService_RegisterEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterEndpointResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnregisterEndpoint_InputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterEndpoint" />
  </wsdl:message>
  <wsdl:message name="INotificationService_UnregisterEndpoint_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnregisterEndpointResponse" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Notify_InputMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="INotificationService_Notify_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationService">
    <wsdl:operation name="RegisterEndpoint">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/RegisterEndpoint" message="tns:INotificationService_RegisterEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/RegisterEndpointResponse" message="tns:INotificationService_RegisterEndpoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnregisterEndpoint">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/UnregisterEndpoint" message="tns:INotificationService_UnregisterEndpoint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/UnregisterEndpointResponse" message="tns:INotificationService_UnregisterEndpoint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <wsdl:input wsaw:Action="http://tempuri.org/INotificationService/Notify" message="tns:INotificationService_Notify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationService/NotifyResponse" message="tns:INotificationService_Notify_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INotificationService" type="tns:INotificationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterEndpoint">
      <soap:operation soapAction="http://tempuri.org/INotificationService/RegisterEndpoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterEndpoint">
      <soap:operation soapAction="http://tempuri.org/INotificationService/UnregisterEndpoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notify">
      <soap:operation soapAction="http://tempuri.org/INotificationService/Notify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationService">
    <wsdl:port name="BasicHttpBinding_INotificationService" binding="tns:BasicHttpBinding_INotificationService">
      <soap:address location="http://bantuservices.cloudapp.net:8080/NotificationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>